<a href="https://colab.research.google.com/github/PaulJustinePolestico/CPE-103-OOP-1-A/blob/main/Phyton_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [8]:
if 2 <5:
  print ("Two is less than 5!")

Two is less than 5!

In [25]:
x= 5
y= 2
if x > y:
  print("5 is greater than 2!")

  if 2 < 5:
    print ("2 is less than 5!")

5 is greater than 2!
2 is less than 5!

Phyton Comments

In [19]:
#This is a comment
print ("Hello World!")

Hello, World!

Phyton Variable

In [52]:
z=1
a,b=0,-1
c= "Sally"

print (a)
print (b)
print (c)

0
-1
Sally

Casting

In [88]:
b="sally" #this is a type of string
b=int (4)
print (b)

b= float(4)
print (b)
print (type (b))

4
4.0
<class 'float'>

Type () function

In [89]:
x= 5
y="John"
print (type (x))
print (type (y))

<class 'int'>
<class 'str'>

"Double quotes" or 'single' quotes

In [90]:
x= "John"
y= 'John'
print (x)
print (y)

John
John

Case Sensitive

In [70]:
a=4
A="Sally"
#A will not overwrite a

Multiple Variables

In [87]:
x,y,z="one","two","three"
print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [81]:
x=y=z= "four"
print (x)
print (y)
print (z)

four
four
four

Output Variables

In [92]:
x='enjoying'
print ( "Phyton programming is " + x)

Phyton programming is enjoying

Arithmethic Operations

In [106]:
#Exponentiation
x=10
y=3
x**y

1000

Assignment Operators

In [122]:
x= 5
x&3
print (x)
#Addition

5

Comparison Operators

In [134]:
x=5
y=6
x<=y

True

Logical Operators

In [141]:
X=4
Y=5
z=6
x<y and z > x

True

Identity Operators

In [225]:
x="Hello"
y="World"
x is not y

True

Bitwise Operators

In [199]:
#decimal to binary
#10==1010
x= 10
x<<1
#print (x)

20

In [224]:
#Application 1
#AREA OF A Parallelogram
x= input ()
y= input ()
area= int(x)*int(y)
print ("The area of the parallelogram is",area, "^2")

#AREA of a Triangle
x= input ()
y= input ()
area= int(x)*int(y)/2
print ("The area of the triangle is"  , area,  "^2")

#Area of a Ellipse
x= input ()
y= input ()
area= 3.14*int(x)*int(y)
print ("The area of the ellipse is", area, "^2")

2
5
The area of the parallelogram is 10 ^2
3
5
The area of the triangle is 7.5 ^2
5
1
The area of the ellipse is 15.700000000000001 ^2